@model IEnumerable<CommonViewModel>

<div class="row col-12">
    <a class="btn btn-dark" asp-action="Index"> Back</a>
</div>
<table class="table table-responsive table-sm mt-2">
    <tbody>
        @foreach (CommonViewModel item in Model)
        {
        <tr>
            <td>@item.Field1</td>
            <td>@item.Field2</td>
            <td>@item.Field3</td>
            <td>@item.Field4</td>
            <td>@item.Field5</td>
            <td>@item.Field6</td>
            <td>@item.Field7</td>
            <td>@item.Field8</td>
            <td>@item.Field9</td>
            <td>@item.Field10</td>
            <td>@item.Field11</td>
            <td>@item.Field12</td>
            <td>@item.Field13</td>
            <td>@item.Field14</td>
            <td>@item.Field15</td>
        </tr>
        }
    </tbody>
</table>
