@{
    ViewData["Title"] = "Home Page";
}
@using System.IO;
@model List<KABWeb.Models.KABDirectory>

<table class="table table-responsive table-sm table-hover">    
    <tbody>
        @{
            foreach (KABDirectory m in Model)
            {
                <tr>
                    <td class="font-weight-bold">@m.Name</td>
                    <td></td>
                    <td></td>
                </tr>
                @*foreach (DirectoryInfo di in m.SubDirectoryList)
                {
                    <tr>
                        <td></td>
                        <td>@di.Name</td>
                        <td></td>
                    </tr>
                    var subFiles = di.GetFiles();
                    foreach (FileInfo fi in subFiles)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td>@fi.Name</td>
                        </tr>
                    }
                }*@
                foreach (FileInfo fi in m.FileList)
                {
                    <tr class="bg-light">
                        <td><span class="badge badge-success">New</span></td>
                        <td>@fi.Name</td>
                        <td><a class="btn btn-sm btn-dark" asp-action="Detail" asp-route-id="@fi.FullName">View Content</a></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>